{% extends 'base.html' %}

{% block content %}
    
<div class='row'>
    <div class='span8 pull-left'>
        <h1>Drop Us A Message</h1>
        <style>
        .marketing {
            text-align: left;
            }
        </style>
        <a name='contact'></a>
            <form action='' method='POST'> {% csrf_token %}
            {{ form.as_p }}
            <input class='btn', type='submit' value='Send' />
        </form>
    
</div>
    


<div class='span4 pull-right'>
    <head>
        <style>
        #map_canvas {
            
            width: 500px;
            height: 400px;
            margin-top: 70px;
            }
        </style>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
      function initialize() {
        var map_canvas = document.getElementById('map_canvas');
        var map_options = {
          center: new google.maps.LatLng(37.7833, -122.4167),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(map_canvas, map_options)
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
    
  <body>
    <div id="map_canvas"></div>
  </body>
  
    </div>
</div>  


{% endblock %}